<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DocsDir" value="Notes"/>
		<add key="ImgUrlPrefix" value="https://cdn.jsdelivr.net/gh/ciyuanhuixing/img@master/"/>
		<add key="ImgUrlFileSuffix" value=".jpg"/>
		<add key="SiteURL" value="https://ciyuanhuixing.com"/>
		<add key="SiteName" value="次元彗星的编程笔记"/>
		<add key="Author" value="次元彗星"/>
		<add key="SiteDescription" value="这里记录了一些我对编程的学习、经验总结，还有对生活的一点思考。"/>
	</appSettings>
</configuration>