@using RazorLight
@using MarkdownToTreeBlog;
@inherits TemplatePage<DocViewModel>
@{
    Layout = "main.cshtml";
}
<article id="article" style="text-align:center;padding:80px 16px;">
    <a href="/">该链接指向的网页不存在，点击这里回到主页。</a>
</article>
